
body{
    margin: 0;
    background-color: #ECF2FF;
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-all-items{
    flex-direction:row;
    display:flex;
    justify-content: left;
    align-items:stretch;
    background-color: beige;
    width: 100vw;
    height: 100vh;
}
.login-image-div{
    display: flex;
    justify-content: center;
    background-color: #5BA3F8;
    width: 600px;
    height: 100vh;
    align-items: center;
}
.login-image{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.login-Heading{
    margin-bottom: 150px;
    color: #5BA3F8;
    font-size: 50px;
    flex: 1;
    text-align: center;
}
.login-form{
    width: 50vw;
    height: 50vh;
    align-items: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.login-container {
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
  
.login-button{
    width: 200px;
    height: 100px;
    padding: 10px 50px 10px 50px;
    background-color: #5BA3F8;
    border-radius: 25px;
    border: 5px solid #5BA3F8;
    text-align: center;
    color: white;
    font-size: 20px;

    margin-left: 200px;
    flex: 1;
}
.login-a{
    width : 50px;
    height: 50px;
}
#forgot-password{

    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
    text-align: end;
    font-weight: normal;
}

.login-label{
    margin-left: 20px; 
}

#email{
    width: 80%;
    margin: 20px 50px;
    height: 20px;
    border: 5px solid white;
    border-radius: 15px;
}

#password{

    width: 80%;
    margin: 20px 50px;
    height: 20px;
    border: 5px solid white;
    border-radius: 15px;
}

.login-form-div{
    margin-left: 20px;
}
/*.login-button:hover{
    background-color: white;
    color:#5BA3F8;
}*/
