.css-15v8kdh-MuiPickersFadeTransitionGroup-root-MuiDateCalendar-viewTransitionContainer{
    width: 30vw !important;
     height:40vh !important;
}
.css-flbe84-MuiDayCalendar-weekContainer{
     font-size:30vw !important;
}
.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    font-size: 2vw !important;
    font-weight:800 !important;
}
.css-nk89i7-MuiPickersCalendarHeader-root{ 
    /*title and arrows*/
    width: 30vw !important;
    height:40vh !important;
}
    
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    width:5vw !important;
    height:5vh !important;
}
.css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition{ /*month container*/
    width: 30vw !important;
    height:40vh !important;
    overflow: auto !important;
}
.css-12p2adl-MuiDayCalendar-monthContainer{
    overflow:auto !important; 
    width: 30vw !important;
    height:40vh !important;
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{ /*day name*/
    width: 5vw !important;
    height: 5vh !important;
    font-size: 1vw !important;
    font-weight:800 !important;
}
.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root{ /*each day button*/
    width: 5vw !important;
    height: 5vh !important;
    font-size: 1vw !important;
}
.css-10hbpsx-MuiPickersDay-root{ /*empty*/
    width: 5vw !important;
    height: 5vh !important;
}
.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    width: 5vw !important;
    height: 5vh !important;
}

.css-1phvfth-MuiDateCalendar-root{
    width: 100vw !important;
    height:100vh !important;
}
.css-cwhad8-MuiDateCalendar-root{
    width: 60vw !important;
    height:70vh !important;
}
.css-1hdmssw-MuiDateCalendar-root .css-15v8kdh-MuiPickersFadeTransitionGroup-root-MuiDateCalendar-viewTransitionContainer{
    width:10vw !important;
    height:10vh !important;
}